body
{
   
   background-color:black;
   color:red;
}


#main
{
   

   width: 700px;
   height: 500px;
   
   
   margin-left:auto;
   margin-right:auto;

   border: 2px solid black;
box-shadow: 6px 6px 6px black;
}

#HUD
{
  border-bottom: 5px dashed black;
  border-left: 5px dashed black;
  border-right: 5px dashed black;
  overflow:auto;
  
  text-align:center;
  
  margin:auto;
  width:700px;
  background-color:black   ;
}

#foot
{
  border-bottom: 5px dashed black;
  border-left: 5px dashed black;
  border-right: 5px dashed black;
  overflow:auto;
  
  text-align:center;
  
  margin:auto;
  width:700px;
  background-color:gray;
}

  #foot li
  {
    display: inline;
    list-style-type: circle;
  }
.view
{
   position:relative;
   text-align:center;

}




.link:hover
{
   border: 2px solid red;
   
}
.link2:hover
{
   border: 2px solid red;
   
}


h1
{
   font-family:"Purisa", Times, serif;
   color:brown;
}
p
{
font-family:"URW Chancery L", Times, serif;
   color:white;
   font-size:large;
}

#head
{
	text-align:center;
	margin-bottom: 10px;
}




#credit
{
   background-color:white;

   height: 100px;
   width: 200px;
   
   margin-left:auto;
   margin-right:auto;	
   
   text-align: center;
   
   border: 2px solid black;
}
