{% extends "layout.html" %}
{% block content %}
<h1>Tic Tac Toe</h1>
<p>{{ game_state_description(gs) }}</p>
<table class="board">
	{% for y in range(3) %}
	<tr>
		{% for x in range(3) %}
		{% if gs.is_ongoing() and is_cell_empty(gs, x, y) %}
		<td class="empty" onclick="window.location.href = '{{url_for('make_move', x=x, y=y)}}';">
			&nbsp;
		{% else %}
		<td>
			{{ cell_contents(gs, x, y)|safe }}
		{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
<a href="{{url_for('reset')}}">Restart the game</a>
{% endblock %}