<html>
<head>
	<title>{% block title %}Tic Tac Toe{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='tictactoe.css') }}"/>
</head>
<body>
	<div class="container">
{% block content %}{% endblock %}
	</div>
</body>
</html>