<!--<script>
// function validateFormLogin() {
// 	var username = document.forms["usrformlogin"]["username"].value;
// 	var password = document.forms["usrformlogin"]["password"].value;
// 	if (username == null || username == "" || password == null || password == "")
// 	{
// 		alert("You must provide a login and a password");
// 		return false;
// 	}
// 	else
// 	{
// 		document.getElementById("pagefrom_id").value = page_id;
// 		//document.getElementById("usrform").submit();
// 	}
// }

// function validateFormRegister() {
// 	var username = document.forms["usrformregister"]["username"].value;
// 	var password = document.forms["usrformregister"]["password"].value;
// 	if (username == null || username == "" || password == null || password == "")
// 	{
// 		alert("You must provide a login and a password");
// 		return false;
// 	}
// 	else
// 	{
// 		document.getElementById("pagefrom_id").value = page_id;
// 		//document.getElementById("usrform").submit();
// 	}
// }
</script> -->

<!-- Display the Creation form -->
{% if g.user is none %}
	{% if oldPath is not defined %}
		{% set oldPath = request.path %}
	{% endif %}

	<div class="panel-group" id="accordion2">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
						Login
					</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse {% if g.formlogin.errors|length != 0 %}in{% endif %} ">
				<div class="panel-body">







					<form method="POST" action="{{ url_for('login', oldPath=oldPath) }}" class="form-horizontal">
					{% if g.formlogin.errors %}
					    <ul class="form-errors alert alert-danger">
					        {% for field_name, field_errors in g.formlogin.errors|dictsort if field_errors %}
					            {% for error in field_errors %}
					                <li>{{ g.formlogin[field_name].label }}: {{ error }}</li>
					            {% endfor %}
					        {% endfor %}
					    </ul>
					{% endif %}
					    {{ g.formlogin.hidden_tag() }}
					    <div class="form-group">
					    	{{ g.formlogin.email_address.label(class="col-sm-2 control-label") }}
					    	<div class="col-sm-6">
						    	{{ g.formlogin.email_address(class="form-control", placeholder="jimmy@jimmy.org") }}
					    	</div>
					    </div>
					    <div class="form-group">
					        {{ g.formlogin.password.label(class="col-sm-2 control-label") }}
					        <div class="col-sm-6">
					            {{ g.formlogin.password(class="form-control", placeholder="password") }}
					        </div>
					    </div>
					    <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
					    		<button type="submit" class="btn btn-default">Submit</button>
					    	</div>
					    </div>
					</form>








				</div>
			</div>


			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
						Register
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse {% if g.formregister.errors|length != 0 %}in{% endif %}">
				<div class="panel-body">






					<form method="POST" action="{{ url_for('register', oldPath=oldPath) }}" class="form-horizontal">
					{% if g.formregister.errors %}
					    <ul class="form-errors alert alert-danger">
					        {% for field_name, field_errors in g.formregister.errors|dictsort if field_errors %}
					            {% for error in field_errors %}
					                <li>{{ g.formregister[field_name].label }}: {{ error }}</li>
					            {% endfor %}
					        {% endfor %}
					    </ul>
					{% endif %}
					    {{ g.formregister.hidden_tag() }}
					    <div class="form-group">
					    	{{ g.formregister.name.label(class="col-sm-2 control-label") }}
					    	<div class="col-sm-6">
						    	{{ g.formregister.name(class="form-control", placeholder="Jimmy") }}
					    	</div>
					    </div>
					    <div class="form-group">
					    	{{ g.formregister.email_address.label(class="col-sm-2 control-label") }}
					    	<div class="col-sm-6">
						    	{{ g.formregister.email_address(class="form-control", placeholder="jimmy@jimmy.org") }}
					    	</div>
					    </div>
					    <div class="form-group">
					        {{ g.formregister.password.label(class="col-sm-2 control-label") }}
					        <div class="col-sm-6">
					            {{ g.formregister.password(class="form-control", placeholder="password") }}
					        </div>
					    </div>
					    <div class="form-group">
					        {{ g.formregister.passwordConfirm.label(class="col-sm-2 control-label") }}
					        <div class="col-sm-6">
					            {{ g.formregister.passwordConfirm(class="form-control", placeholder="password") }}
					        </div>
					    </div>
					    <div class="form-group">
					    	{{ g.formregister.birthday.label(class="col-sm-2 control-label") }}
					    	<div class="col-sm-6">
						    	{{ g.formregister.birthday(class="form-control", placeholder="25-05-1971") }}
					    	</div>
					    </div>
					    <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
					    		<button type="submit" class="btn btn-default">Submit</button>
					    	</div>
					    </div>
					</form>







				</div>
			</div>


		</div>
	</div>
{% else %}
<ul class="buttons">
	<li><a class="btn btn-default" href="{{ url_for('logout') }}">logout</a></li>
</ul>
{% endif %}